.table-action {
   
   
}

.button-block {
    margin:20px;
}

.table-block{
    float: center;
}

.modal-container {
    position: relative;
  }

.modal-container .modal, .modal-container .modal-backdrop {
    position: absolute;
}

.ReactTable {
    text-align: center;
}
